<footer>
    <nav>
        <ul>
            <li><a href="/">Return to main page</a></li>
            <li><a href="https://godwinkamau.github.io/">More about the Author</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>