    <section class="profileInfo"></section>
<!-- <footer>
    <nav>
        <ul>
            <li><a href="/">Return to main page</a></li>
            <li><a href="https://godwinkamau.github.io/">More about the Author</a></li>
        </ul>
    </nav>
</footer> -->
<script src="https://kit.fontawesome.com/1e82a588cf.js" crossorigin="anonymous"></script>
</body>
</html>