<section class="infoContainer">
        <section class="h1Container">
            <h1>Profile</h1>    
        </section>
        <nav>
            <a href="/profile"><div class="wipe"></div><button class="navContainer">
                <span>Check Your Area</span><span class="navIcon">&emsp;<i class="fa-solid fa-map"></i></span>
            </button></a>
            <a href="/calendar/personalEvents"><div class="wipe"></div><button class="navContainer">
                <span>Your Calendar</span><span class="navIcon">&emsp;<i class="fa-solid fa-calendar"></i></span></span>
            </button></a>
            <a href="/inventory"><div class="wipe"></div><button class="navContainer">
                <span>Spend Your Points</span><span class="navIcon">&emsp;<i class="fa-solid fa-coins"></i></span>
            </button></a>
            <a href="/savedPosts"><div class="wipe"></div><button class="navContainer">
                <span>Your Saved Posts</span><span class="navIcon">&emsp;<i class="fa-solid fa-thumbtack"></i></span>
            </button></a>
        </nav>
        <section class="score">
            <h3>Your Score is:</h3> 
            <span><%= user.score %></span>
        </section>
        
    </section>