<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo-Day Markup</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    
      <form action="/login"><button class="navPill" type="submit">Log In</button></form>
      <form action="/signup"><button class="navPill" type="submit">Sign-Up</button></form>
    
  </header>
  <section class="heroSection flexTop parrallax">
    <section class="title">
      <h1>Secret Keys</h1>
    </section>
  </section>
  <section class="aboutMap flexTop">
    <h2>Where to Search</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, perspiciatis quibusdam? Consequuntur fugiat dicta distinctio est magni, fuga neque possimus.</p>
    <span><i class="fa-solid fa-map-location-dot"></i></span>
  </section>
  <section class="about">
    <img src="img/pexels-harry-shum-17627821-12694483.jpg">
    <section class="aboutWords flexTop">
      <h2>Find Mysteries in Your Area</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ratione accusamus beatae itaque qui recusandae, iusto eum sapiente quos quibusdam consequuntur, totam, explicabo soluta. Deserunt labore ex architecto voluptate recusandae.</p>
      <div></div>
    </section>
  </section>
  <section class="registerNow flexTop">
    <section>
      <h2>Sign Up Today!</h2>
      <br>
      <p>Expand your community as a...</p>
    </section>
    <section class="personBox">
      <a href="/signupAdmin">
      <section class="person flexTop">
        <h3>Business Owner</h3>
        <span><i class="fa-solid fa-building"></i></span>
      </section>
      </a>
      <a href="signup">
      <section class="person flexTop">
        <h3>Explorer</h3>
        <span><i class="fa-solid fa-magnifying-glass"></i></i></span>
      </section>
      </a>
    </section>
  </section>
    <section class="mailingList flexTop">
      <section class="mailBox flexTop">
        <h2>Join Our Mailing List</h2>
        <form>
        <input type="email">
        <button type="submit">Join</button>
        </form>
      </section>
    </section>

  <footer></footer>
  
<script src="https://kit.fontawesome.com/1e82a588cf.js" crossorigin="anonymous"></script>
<script>
  window.addEventListener('scroll', () => {
    document.body.style.setProperty('--scroll', window.pageYOffset / (document.body.offsetHeight - window.innerHeight));
  }, false);
</script>
</body>
</html>