<%- include ("partials/header.ejs") -%>

    <head>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@event-calendar/build@4.7.1/dist/event-calendar.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@4.7.1/dist/event-calendar.min.js"></script>
        <link rel="stylesheet" href="/css/calendar.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <script>
        const id = <%- JSON.stringify(siteInfo._id) %>
    </script>
    <body>
        <section class="bigContainer">
            <div id="ec"></div>
            
        </section>
        <script type="text/javascript" src="/js/calendar.js"></script>
    </body>

    </html>