@keyframes slideDoor {
  100% {
    transform: translateZ(0px) translateX(0px) rotateY(90deg);;
  }
}

/* Door animation by AM: https://codepen.io/am_eu/pen/EgedaQ */
.door{
    animation: .3s 0s ease-out 1 slideDoor;
    transform-origin: left;
    transform: perspective(2000px);
    animation-fill-mode: forwards;
    background-image: url('../img/door.jpg');
    position:absolute;
    top:0px;
    left:0px;
    height: inherit;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}