:root{
    --animation-duration:5s;
}

.bigContainer ul{
    position:absolute;
    top:19%;
    width:inherit;
    padding:0 10px 0 10px;
}

.bigContainer li{
    /* width:100%; */
    min-height: 150px;
    max-height: 500px;
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap:15px;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.3);
    /* padding:0 30px 15px 30px; */
    margin-bottom: 10px;
    border: 1px solid rgb(196, 196, 196);
    transition:all .1s linear;
}

.bigContainer li:hover{
    
    background-color: rgba(255,255,255,.5);
}

li .date{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding:0 1rem;
    font-size: 1rem;
    align-self: flex-start;
    border:1px solid gray;
    border-bottom-right-radius: 30px;
}

li .center{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding:20px 0;
}

li .title{
    flex:2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.media {
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media img {
    max-height: 280px;
    max-width: auto;
    object-fit: scale-down;
}

li form{
    display: inline-block;
}

li .actions{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap:5px;
}

.bigContainer li:hover .btn{
    opacity: 1;
}

.actions .btn{
    font-size: 1.5rem;
    width:70px;
    border:1px solid var(--gray);
    background: transparent;
    padding:1rem;
    opacity:0;
    transition: all .1s ;
}

.actions .btn:hover{
    background: black;
    color: var(--gray);
    cursor: pointer;
}

.likes {
    display: none;
}

.btn:hover .likes {
    display:block;
}

.btn:hover .fa-thumbs-up{
    display: none;
}

.commentPopup{
    opacity:0;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height:90%;
    background:black;
    transition: opacity .1s linear;
    color:var(--gray);
    padding:10px;
    margin-top:10px;
    border-radius:20px;
    
    gap:15px;
}

.commentPopup form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:100%;
}

.commentPopup label{
    font-size: 1.5rem;
}

.commentPopup textarea{
    width:100%;
    height:60%;
    font-size: 1.2rem;
    font-family: 'Source Serif 4', 'Times New Roman', Times, serif;
}

.activatedPopup{
    opacity: 1;
}

.buttons .activatedBtn{
    background:black;
    color:white;
}



.marqueeContainer{
    grid-row-start: 3;
    grid-column-start:1;
    grid-column-end:3;
    display: flex;
    align-items: center;
    width: 100%;
}


.marquee{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width:inherit; 
}

.marquee .commentText {
    display: inline-block;
    padding-left: 100%;
    font-size: 1.2rem;
    width:inherit;
}

li:hover .commentText {
    animation: marquee var(--animation-duration) linear infinite;
    
    /* found how to pause animations from here: https://dev.to/jackharner/pausing-css-animations-on-hover-4bi6 */
        &:hover{
            animation-play-state:paused;
        }    
}

.commentText span{
    color: gray;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-500%, 0); }
}

.marqueeActivated{
    width:100%;
}