body{
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: cover;
    backdrop-filter: grayscale(1) blur(3px);
    height:110vh;
    padding:0 15px;
}

.locationInfo{
    grid-row-start: 1;
    grid-row-end:2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top:20%;
}

.profileInfo{
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top:20%;
}

.navBar, .profileBar{
    background-color: rgba(0, 0, 0, 0.9);
    width:80%;
}

.navBar{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}

.profileBar{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:30px;
}

.navBar li{
    position:relative;
    width:100%;
    padding:15px 10px;
    text-align: end;
}

.wipe{
    position: absolute;
    top:0;
    left:100%;
    height:100%;
    width:100%;
    background: linear-gradient(rgba(200,0,0,.7),rgba(255,0,0,.7));
    transition: all .2s linear;
    z-index:0;
}

.selected{
    font-weight: bold;
    color:var(--gray);
    background-color: rgba(255,0,0,.7);
}

.navBar li:first-of-type{
    background-color: rgba(200,0,0,.7);
    border-top-left-radius: 20px;
    font-weight: bold;
}

.navBar li:first-of-type span{
    color:var(--gray);
    font-size: 1.5rem;
}

.navBar li:last-of-type div{
    border-bottom-left-radius: 20px;
}

.navBar li:hover > .wipe{
    left:0;
}

.navBar span{
    position: inherit;
    z-index: 2;
}

header{
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width:100%;
}

.bigContainer{
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    width:890px;
    height: 99%;
    border: 5px solid red;
    background: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: 300% 122%;
    overflow: scroll;
}

.intro{
    height:15%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 880px;
    position: fixed;
    padding:15px 5px;
    background: linear-gradient(var(--bblue) 0%, var(--bblue) 70%, transparent);
    gap:10px;
    z-index: 1;
}

footer{
    background-color: black;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end: 4;
    width:100%;
    overflow: hidden;
    display: flex;
}

nav ul{
    display: flex;
    
}

nav li a{
    color: white;
    border: none;
}

