body{
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: cover;
    backdrop-filter: grayscale(1);
    height:110vh;
}

header{
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    
    width:100%;
}

.bigContainer{
    position: relative;
    min-width: 900px;
    max-width:1100px;
    height: 100%;
    border: 5px solid red;
    background: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: 300% 118.5%;
    overflow: scroll;
}