body{
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: cover;
    backdrop-filter: grayscale(1) blur(3px);
    height:110vh;
    padding:0 15px;
}

.locationInfo{
    grid-row-start: 1;
    grid-row-end:2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top:20%;
}

.navBar{
    background-color: rgba(0,0,0,.9);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:30px;
}

.navBar li{
    /* background-color: rgba(0,0,0,.7); */
    width:100%;
    padding:15px 10px;
    text-align: end;
}



header{
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width:100%;
}

.bigContainer{
    position: relative;
    width:890px;
    height: 99%;
    border: 5px solid red;
    background: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: 300% 122%;
    overflow: scroll;
}

.intro{
    height:15%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 880px;
    position: fixed;
    padding:15px 5px;
    background: linear-gradient(var(--bblue) 0%, var(--bblue) 70%, transparent);
    gap:10px;
    z-index: 1;
}

footer{
    background-color: black;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end: 4;
    width:100%;
    overflow: hidden;
    display: flex;
}

nav ul{
    display: flex;
    
}

nav li a{
    color: white;
    border: none;
}

