body{
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: cover;
    backdrop-filter: grayscale(1) blur(3px);
    height:110vh;
}

header{
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    
    width:100%;
}

.bigContainer{
    position: relative;
    min-width: 900px;
    max-width:1100px;
    height: 99%;
    border: 5px solid red;
    background: url('../img/pexels-freestockpro-1227513.jpg');
    background-size: 300% 122%;
    overflow: scroll;
}

footer{
    background-color: black;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    width:100%;
    overflow: hidden;
    display: flex;
}

nav ul{
    display: flex;
}

nav li a{
    color: white;
    border: none;
}