 /* Modal structure taken from w3schools: https://www.w3schools.com/howto/howto_css_modals.asp  */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px inset #888;
  border-radius: 3px;
  width: 50%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.options{
    display: flex;
    justify-content: space-between;
    padding:10px 30px;
}

.options button{
    height:3rem;
    width:7rem;
}
input[type="file"]{
    display: none;
}

label{
    cursor: pointer;
}

#myBtn{
    height:4rem;
    width: 100px;
}

textarea{
    resize: none;
    font-family: 'Tinos', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

span{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    padding:5px;
    transition: all .3s;
}

span:hover,
span:focus {
    background-color: var(--bloo);
    color: var(--gray);
    text-decoration: none;
    cursor: pointer;
}

.input{
    display: flex;
    justify-content: space-between;
    color:#888;
    align-items: center;
}

.btn{
    font-size: 1.2rem;
}

.charCount{
    display: flex;
    align-items: flex-end;
}

form{
    display: flex;
    gap:10px;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
}

.postInput{
    flex-direction: column;
}

.getImg {
    object-fit: scale-down;
    max-height:300px;
    max-width: 600px;
}

.eventTitle,.getEventTitle{
    color:black;
}

.eventDeets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
}