/* color scheme from coolors.co:https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
:root{
    --bblue:#778da9;
    --bloo:#14213D;
    --gold:#FCA311;
    --gray:#E5E5E5;
}

*{
    box-sizing: border-box;
}

.flexTop{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    color:white;
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

button{
    font-family: 'Source Serif 4','Times New Roman', Times, serif;
    font-weight: 300;
    transition: all .3s;
}

button:hover{
    background-color: var(--bloo);
    color:var(--gray);
    border-radius: 10px;
}

li{
    list-style: none;
}