/* color scheme from coolors.co:https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */
:root{
    --bblue:#778da9;
    --bloo:#14213D;
    --gold:#FCA311;
    --gray:#E5E5E5;
}

*{
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Source Serif 4','Times New Roman', Times, serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

.flexTop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    position:fixed;
    top:0;
    height:70px;
    background: #000000aa;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 2;
}

.navPill{
    height:100%;
    width:150px;
    background: black;
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Serif 4','Times New Roman', Times, serif;
    font-weight: bold;
    transition: all .2s ease;
}

.navPill:hover{
    
    background: var(--gold);
    color: white;
    font-size: 1.2em;
}

/* credit for parrallax affect: https://www.w3schools.com/howto/howto_css_parallax.asp */

.heroSection{
    background: url('../img/pexels-karola-g-6634140.jpg');
    background-size:cover;
    height:900px;
    justify-content: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:white;
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

.title{
    height:50%;
}

.about{
    position:relative;
    height:600px;
    background: var(--gray);
}

/* scroll animation derived from css-tricks:https://css-tricks.com/books/greatest-css-tricks/scroll-animation/ */
/* and further readings from the MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@keyframes */
.aboutWords{
    color:var(--gray);
    justify-content: space-around;
    position:absolute;
    right:100%;
    width:60%;
    height:100%;
    background: linear-gradient(
        90deg,
        var(--bloo) 0,
        var(--bloo) 80%,
        #2a4580 80%,
        #2a4580 85%,
        #2a4580bb 85%,
        #2a4580bb 90%,
        #2a4580aa 95%,
        #2a4580aa 100%);
    
    opacity: 0;
    animation: slide 5s ease;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.about img{
    position: absolute;
    object-fit: cover;
    height:100%;
    width:100%;
}

.about p{
    font-size: 1.5rem;
    width:40%;
}

@keyframes slide {
    0% {
        right:100%;
        opacity:0;
    }
    20% {
        right:40%;
        opacity: 1;
    }
}

.registerNow, .aboutMap{
    height:300px;
    border-top: 10px solid var(--bloo);
    border-bottom: 10px solid var(--bloo);
    justify-content: space-around;
}

.aboutMap{
    justify-content: space-around;
}

.aboutMap span{
    font-size: 4rem;
    padding: 15px;
    border:4px solid var(--bloo);
    border-radius: 50px;
}

.registerNow{
    background: var(--bblue);
    color:var(--gold);
    height:400px;
}

.registerNow > section{
    text-align: center;
}

.registerNow p{
    font-style: italic;
}

.personBox{
    display: flex;
    width:100%;
    height:60%;
    width:500px;
    gap:15px;
}

.person{
    width:50%;
    height:100%;
    border:5px solid var(--bloo);
    border-radius: 30px;
    background: black;
    justify-content: space-around;
    text-align: center;
    transition: all .5s ease;
}

.person h3{
    font-size: 2rem;
}

.person span{
    font-size: 2.5rem;
    border:3px solid gold;
    border-radius: 50px;
    padding: 10px;
}

.person:hover{
    color:black;
    background: var(--gray);
}

.mailingList{
    height:500px;
    width:100%;
    background: url('../img/pexels-kei-scampa-1201427-10755778.jpg');
    background-position: bottom;
    background-size:cover;
    justify-content: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mailBox{
    height:70%;
    width:40%;
    background: radial-gradient(ellipse, black 60%, #E5E5E522);
    border-radius: 20px;
    color: var(--gray);
    justify-content: center;
    gap:30px;
}

.mailBox input[type="email"]{
    height:3rem;
    width:30rem;
}

.mailBox button{
    height: 3rem;
    width:5rem;
    margin-left:1rem;
    scale:100%;
    transition: all .5s ease;
    font-weight: bold;
}

.mailBox button:hover{
    background: var(--gold);
    color: var(--gray);
    scale:105%;
}

footer{
    height:150px;
    width: 100%;
    background: var(--bloo);
}

#map {
    height:400px;
    width:600px;
}
